@media (min-width: 768px) {
  .news-input {
    width: 50%;
  }
}

.reason {
  background: rgb(238, 187, 91);
}

#map {
  width: 100%;
  height: 100%;
  border-radius: 9px;
}

.totop {
  padding-right: 4rem;
}
